<style>
  h2 {
    color: #184160
  } 

  .text {
    color: #184160;
    text-align: left;
  }
</style>
<script>
  const pageType = '{{ pageType }}'
  document.addEventListener('om.Optin.success', function(event) {
    Cookies.set('converted', 'true', { expires: 365 })
    window.location.href = '/ivr/'
  });

  const urlParams = new URLSearchParams(window.location.search);
  if (!Cookies.get('converted') && pageType === 'detail' && !urlParams.has('secret')) {
    window.location.href = '/ivr/summary'
  }

  if (pageType === 'summary') {
    window.datasets = [['TWILIO', 'Vendor A', 'green'], ['AMAZON', 'Vendor B', 'red'], ['DIALOGFLOW', 'Vendor C', 'yellow']]
  } else if (pageType === 'detail') {
    window.datasets = [['AMAZON', 'Amazon Connect', ChartHelper.colorAmazon()], 
      ['DIALOGFLOW', 'Google Dialogflow', ChartHelper.colorDialogflow()], 
      ['TWILIO', 'Twilio Voice', ChartHelper.colorTwilio()]]
  }
</script>
<div id='ivr-reports' class='container-fluid ivr'  >
  <div class='row' >
    <div class='col-12 col-lg-12 subtitle' style='color: #184160;font-family: roboto condensed;font-size:24pt;font-weight: bold;margin-top: 10'>
      ASR Performance of the New-Generation of Call-Center Platforms
    </div>
  </div>
  <div class='row' >
    <div class='col-12'>
      <h2>What We Did</h2>
      <div class='text' style='margin-top: 10;'>
        Bespoken and DefinedCrowd ran this benchmark to measure the Automatic Speech Recognition Performance of three new players in the Digital Contact Center space:
        <ul>
          <li>Amazon Connect</li>
          <li>Google Dialogflow</li>
          <li>Twilio Voice</li>
        </ul>
        We used datasets in US English and Spanish to see how well they performed against challenging, real-world data.
      </div>
    </div>
    <div class='col-12'>
      <h2>What It Means</h2>
      <div class='text' style='margin-top: 10'>
        The results speak for themselves - these are tough scenarios, and they demonstrate that Speech Recognition, despite what you may read is far from a solved problem.

        It's critical to thorughly evaluate vendors before making a decision - DefinedCrowd and Bespoken can help.

        INCLUDE AUDIO SAMPLE WITH BACKGROUND TALKING?
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Platform - English</h2>
      <div>
        {{> ivr/wordErrorRateByPlatformEnglish }}
      </div>
      <div class='caption'>
        The Word Error Rate by Platform - English Only
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Platform - Spanish</h2>
      <div>
        {{> ivr/wordErrorRateByPlatformSpanish }}
      </div>
      <div class='caption'>
        The Word Error Rate by Platform - Spanish Only
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Domain</h2>
      <div>
        {{> ivr/wordErrorRateByDomain }}
      </div>
      <div class='caption'>
        The Word Error Rate by Domain
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Background Noise</h2>
      <div>
        {{> ivr/wordErrorRateByNoisy }}
      </div>
      <div class='caption'>
        The Word Error Rate by Noisy Environment
      </div>
    </div>
  </div>
   <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Ethnicity</h2>
      <div>
        {{> ivr/wordErrorRateByEthnicity }}
      </div>
      <div class='caption'>
        The Word Error Rate by Ethnicity
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Age Group</h2>
      <div>
        {{> ivr/wordErrorRateByAgeGroup }}
      </div>
      <div class='caption'>
        The Word Error Rate by Age Group
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Gender</h2>
      <div>
        {{> ivr/wordErrorRateByGender }}
      </div>
      <div class='caption'>
        The Word Error Rate by Gender
      </div>
    </div>
  </div>
  <div class='row' style='margin-top: 20' >
    <div class='col-12 text' >
      <h2>What Is Next?</h2>
      <p>
        We plan to produce these benchmarks on a routine basis, both refreshing these results as well as doing additional studies. Here is what we currently have planned:
      </p>
      <ul>
        <li>ASR Benchmark - including Google Speech-To-Text, Twilio AutoPilot, Houndify, and others
        <li>Personal Assistant Benchmark - questions related to managing calendar appointments, email, etc.
        <li>IVR Benchmark - performance of various IVR platforms</li>
      </ul>
      <p>Have your own ideas for a benchmark? Ways that we can improve this? <a href='mailto:contact@bespoken.io'>Drop us a line.</a></p>
    </div> 
    <div class='col-12 text' >
      <h2>Who Are You?</h2>
      <p>
        Thanks for asking! We are Bespoken, the world leader in automated testing, training and monitoring for voice. We work with companies like Mercedes-Benz, Roku, Spotify and others to ensure their users have delightful voice experiences.<br><br>
        Want to <a href='https://bespoken.io/customer-success/'  target='_blank'>assess the performance</a> of your own voice assistant for Alexa, Google, IVR?<br><br>
        Moreover, <a href='https://bespoken.io/blog/the-mars-agency-case-study/' target='_blank'>our tools provide specific guidance on how to improve it</a>. Interested? Contact us - <a href='mailto:contact@bespoken.io' target='_blank'>contact@bespoken.io</a>
      </p>
    </div>
  </div>
  <div id='text' class='row' style='margin-top: 20;' >
    <div class='col-2'></div>
    <div class='col-8' style='font-weight: bold;font-size:1.5em;padding: 10;text-align:center' >
      We put this together with our partner, Defined Crowd. Look for more original research from us soon!
    </div>
    <div class='col-2'></div>
  </div>
</div>