<style>
  h2 {
    color: #184160
  } 

  .text {
    color: #184160;
    text-align: left;
  }

  .tagline h3 {
    font-family: khand;
    font-weight: 600;
    margin-bottom: .1em;
  }

  .tagline h4 {
    font-weight: 575;
  }
</style>
<script>
  window.pageType = '{{ pageType }}'
  document.addEventListener('om.Optin.success', function(event) {
    Cookies.set('converted', 'true', { expires: 365 })
    window.location.href = '/ivr/'
  });

  const urlParams = new URLSearchParams(window.location.search);
  if (!Cookies.get('converted') && pageType === 'detail' && !urlParams.has('full')) {
    window.location.href = '/ivr/summary'
  }

  if (window.pageType === 'summary') {
    window.datasets = [['TWILIO', 'Vendor A', '#3324de'], ['AMAZON', 'Vendor B', '#9024de'], ['DIALOGFLOW', 'Vendor C', '#24bfde']]
  } else if (window.pageType === 'detail') {
    window.datasets = [['AMAZON', 'Amazon Connect', ChartHelper.colorAmazon()], 
      ['DIALOGFLOW', 'Google Dialogflow', ChartHelper.colorDialogflow()], 
      ['TWILIO', 'Twilio Voice', ChartHelper.colorTwilio()]]
  }
</script>
<div id='ivr-reports' class='container-fluid ivr'  >
  <div class='row' style='margin-bottom: 5px' >
    <div class='col-12 col-lg-12 subtitle' style='color: #184160;font-family: roboto condensed;font-size:24pt;font-weight: bold;margin-top: 10'>
      <h1 style='font-family: Khand;font-weight: bold;margin-bottom: 0'>IVR ASR Performance Benchmark</h1> 
      <h2 style='text-align: center;font-family: Roboto Condensed;font-weight:500;margin-top: 0'>Measuring The New Generation of Digital Contact Center Platforms</h2>
    </div>
  </div>
  <div class='row' >
    <div class='col-12'>
      <h2>What We Did</h2>
      <div class='text' style='margin-top: 10;'>
        Bespoken and DefinedCrowd ran this benchmark to measure the Automatic Speech Recognition Performance of three new players in the Digital Contact Center space:
      </div>
    </div> 
  </div> 
  <div class='row row-vendors text-center'>
    <div class='col-4'>
      <img src='/web/images/AmazonConnect.png'/>
      <p>Amazon Connect</p>
    </div>
    <div class='col-4'>
      <img src='/web/images/Dialogflow.png'/>
      <p>Google Dialogflow</p>
    </div>
    <div class='col-4'>
      <img src='/web/images/Twilio.png'/>
      <p>Twilio Voice</p>
    </div>
  </div> 
  <div class='row' >
    <div class='col-12 text'>
      We used datasets in US English and Spanish to see how well they performed against challenging, real-world data.

      <a href='/ivr/protocol'>Learn more about how we ran the tests here.</a>
    </div>
  </div>
  <div class='row' >
    <div class='col-12'>
      <h2>What It Means</h2>
      <div class='text' style='margin-top: 10'>
        The results speak for themselves - these are tough scenarios, and they demonstrate that Speech Recognition, despite what you may read, is far from a solved problem.

        It's critical to thorughly evaluate vendors before making a decision - DefinedCrowd and Bespoken can help. 
      </div>
    </div>
  </div>
  <div class='row row-samples' >
    <div class='col-6 text'>
        For example, here is an audio sample where someone is speaking the background:
        <br><br>
        <audio controls src="/web/media/NoisyStart.wav">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>
    <div class='col-6 text'>
        Here is a case where the user has a poor quality connection:
        <br><br>
        <audio controls src="/web/media/PoorQualityConnection.wav">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>
  </div>
  <div class='row' >
    <div class='col-12 text'>  
        Someone <i>might</i> say these tests are almost unfair. But what is unfair is not taking into account that your users are not calling from an ivory tower. They are calling from their cars, from their kitches and family rooms, on their speakers, with their kids around. And they still need help and service.
        <br>
        <br>
        The state of the art of Speech Recognition has advanced rapidly, but it still takes careful testing, training and tuning to deliver optimal performance.
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Platform (English)</h2>
      <div>
        {{> ivr/wordErrorRateByPlatformEnglish }}
      </div>
      <div class='caption'>
        We see here significant variation between platforms. 
        And the Word Error Rates are high - these are tough, real-world scenarios, the type customers are in everyday:
        pauses and hesitations, background noise, spotty connections, poor enunciation, etc.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Platform (Spanish)</h2>
      <div>
        {{> ivr/wordErrorRateByPlatformSpanish }}
      </div>
      <div class='caption'>
        Interestingly, on Spanish we see the performance of the vendors is very different - it's not exactly flipped, but there is significant variation. 
        This is not surprising, as there are significant variations within platforms between support for languages and locales.
        The conclusion? Just because a platform does well with one language and locale on CANNOT assume it will excel at others. Testing, with real data, is the key to find the right solution.
        <br><br>
        And overall, it is worth noting the performance in Spanish is generally better. That is because the audio in this dataset is generally "cleaner" - better connections with less background noise.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Domain (English)</h2>
      <div>
        {{> ivr/wordErrorRateByDomain }}
      </div>
      <div class='caption'>
        Similar to the significant variations we see by language, we see the same based on the industry and domain we are working within.
        ASR systems will bias towards the domains they know best and have been trained on most intensively.
        So if your provider has not been trained and tuned for your specific domain, your performance will be negatively impacted, and vice-versa.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Domain (Spanish)</h2>
      <div>
        {{> ivr/wordErrorRateByDomainSpanish }}
      </div>
      <div class='caption'>
        Similar to the significant variations we see by language, we see the same based on the industry and domain we are working within.
        ASR systems will bias towards the domains they know best and have been trained on most intensively.
        So if your provider has not been trained and tuned for your specific domain, your performance will be negatively impacted, and vice-versa.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Background Noise (English)</h2>
      <div>
        {{> ivr/wordErrorRateByNoisy }}
      </div>
      <div class='caption'>
        As mentioned at the outset - these are tough, real-world scenarios. 
        Background noise really challenges speech recognition systems - and we can see reflected here how dramatic the impact is on it.<br>
        For example, <a href='/web/media/Frozen-BackgroundNoise.wav' target='_blank'>click here to listen</a> to this clip where the caller appears to have the TV on in the background. It's difficult, but also commonplace. 
      </div>
    </div>
  </div>
   <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Ethnicity (English)</h2>
      <div>
        {{> ivr/wordErrorRateByEthnicity }}
      </div>
      <div class='caption'>
        Also unsurprising - race and ethnicity have a big impact as well. 
        Between white and non-white speakers, we see non-white speakers being understood significantly worse, almost dramatically so in scenarios.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Age Group (English)</h2>
      <div>
        {{> ivr/wordErrorRateByAgeGroup }}
      </div>
      <div class='caption'>
        We see less of an impact by age in the English dataset - this is an area that represents significant progress for ASR/NLP platforms.
        This is good news and shows how these systems have evolved over time to better serve real-world scenarios.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Age Group (Spanish)</h2>
      <div>
        {{> ivr/wordErrorRateByAgeGroupSpanish }}
      </div>
      <div class='caption'>
        In our Spanish dataset, we see there is an impact based on age - for older users, the systems do not perform as well. Depending on the demographics of your users, this could be a very significant finding.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12' >
      <h2>Word Error Rate By Gender (English)</h2>
      <div>
        {{> ivr/wordErrorRateByGender }}
      </div>
      <div class='caption'>
        The impact by gender is also minimal - this is also good news.
        Historically, this has been a challenge for ASR/IVR systems - it's critical to ensure that your ENTIRE audience has a great experience.
      </div>
    </div>
  </div>
  <div class='row' style='margin-top: 20' >
    <div class='col-12 text' >
      <h2>What Is Next?</h2>
      <p>
        Follow along as we expand on this benchmark to cover:
      </p>
      <ul>
        <li>Tuning and training the ASR behavior using Bespoken's testing and training tools - we typically see huge improvements using simple techniques
        <li>Expanding the domains and languages that we include in our testing</li>
        <li>Testing additional platforms such as IBM Watson, Genesys, Azure Communication Services and Moreover/li>
      </ul>
      <p>We welcome your input to - if you have ideas on what we should include in the benchmark, or how we can improve it - <a href='mailto:contact@bespoken.io'>drop us a line.</a></p>
    </div> 
  </div>
  <div class='row' style='margin-bottom:0px'>
    <div class='col-12' >
      <h2>Who Are You?</h2>
    </div>
  </div> 
  <div class='row' style='margin-bottom:0px'>
    <div class='col-3' >
      <img src='/web/images/Logo-BlackText.png' style='width: 100%;padding: 10' />
    </div>
    <div class='col-9 text tagline' style='margin-top: auto;margin-bottom: auto;' >
      <h3>
        Testing, Training, Tuning and Monitoring
      </h3>
      <h4>
        For Conversational AI - Voice and Chat
      </h4>
    </div>
  </div>
  <div class='row'>
    <div class='col-12 text' >
      <p>
        We work with companies like Mercedes-Benz, Roku, Spotify and others to ensure their users have delightful voice experiences.<br><br>
        <a href='mailto:contact@bespoken.io' target='_blank'>Contact us</a> for a free baseline assessment of YOUR performance and a roadmap to improve it. 
      </p>
    </div>
  </div>
</div>