<div class='container-fluid ivr'>
  <div class='row' style='margin-bottom: 5px' >
    <div class='col-12 col-lg-12 subtitle' style='color: #184160;font-family: roboto condensed;font-size:24pt;font-weight: bold;margin-top: 10'>
      <h1 style='font-family: Khand;font-weight: bold;margin-bottom: 0'>ASR Performance Benchmark</h1> 
      <h2 style='text-align: center;font-family: Roboto Condensed;font-weight:500;margin-top: 0'>Test Protocol Explained</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class='text' style='padding: 0 50 0 50; text-align:left'>
        
        <h2><a name='objective'>Benchmark Objective</a></h2>
        
        <p>Our goal in running this benchmark was to provide accurate, reliable data on how well various voice platforms perform.</p>

        <p>Our goal in running this benchmark was to provide accurate, reliable data on how well various voice platforms
          perform.</p>

        <p>This test evaluates three relatively new, conversationally-focused Digital Contact
          Center platforms on their Speech Recognition Accuracy.</p>

        <p>We believe that these findings provide relevant, meaningful insights into how the platforms work, as well as show off the capabilities and processes of Bespoken and DefinedCrowd.</p>

        <h2><a name='dataset'>The Process</a></h2>
        <p>To that end, the process for our benchmark is illustrated below:</p>
        <div>
          <img src='/web/images/IVRBenchmarkProtocol.png' width='100%' />
        </div>

        <p>The flow works as follows:</p>
        <ul>
          <li>DefinedData audio utterances in English and Spanish are loaded from S3 by Bespoken along with their transcripts</li>
          <li>The Bespoken Performance Tester calls the platform being tested and "speaks" the utterance,
            in exactly the way a user would. This is true end-to-end testing, done at scale.</li>
          <li>Each platform being tested provides us with their own call transcript, this is compared to the transcript we have from step 1.</li>
          <li>The Word Error Rate and other analytics are calculated and stored in MySQL for reporting.</li>
        </ul>
        <p>Tests are run with Github, as part of our <a href='https://github.com/bespoken/nlp-benchmark'>Bespoken Benchmark project</a>.</p>     
        <p>
          All of this is public and open-source - part of our effort to "test in public". We want to show off not just our results, but also how we do our testing. We believe both are critical to successful automation.
        </p>

        <h2><a name='dataset'>The Data</a></h2>

        <p>We performed this benchmark with our partner DefinedCrowd using samples from their <a
            href='http://qa.mpi-inf.mpg.de/comqa/' target='_blank'>DefinedData</a> offering.</p>

        <p>Some highlights from these datasets:</p>
        <ul>
          <li>They include two different languages</li>
          <li>They represent three different domains: banking, insurance and retail</li>
          <li>They are a small subset of DefinedData's overall dataset, which includes more than X,000 utterances</li>
          <li>They are off-the-shelf and fully annotated, making it easy for brands to leverage</li>
        </ul>
      
        <h2><a name='results'>The Results</a></h2>
        <p>These results are not an academic exercise - they can guide your decision-making if you are selecting a
          platform for your own contact center.</p>
        <p>What's more, measuring is just the first step: tuning and training are the keys to creating great voice
          experiences. By first conducting these tests, we can then provide highly specific guidance on how to refine your model and optimize your call deflection, call center spend, and customer satisfaction.</p>
        <p>In recent work with a major utilities company, we were able to:</p>
        <ul>
          <li>Rapidly identify critical functional and AI model issues
          <li>Reduce manual testing time by more than 90%
          <li>Reduce errors by more than 50%</li>
          <li>Increase throughout by more than 200%</li>
        </ul>
        <p>To get assistance with your specialized testing and tuning needs from DefinedCrowd and Bespoken, just reach
          out to <a href='mailto:benchmark@bespoken.io' target='_blank'>benchmark@bespoken.io</a>. Our team can show you
          how to not just measure, but measurably improve, the performance of your voice experiences.</p>
      </div>
    </div>
  </div>

</div>