<html>
  <title>Bespoken NLP Benchmark</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/static/chart.js"></script>
  </head>
  <body>
<body>
 
    {{{body}}}
    {{> successByPlatform }}
</body>
</html>