<html>
  <title>Bespoken NLP Benchmark</title>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="/static/chart.js"></script>
  </head>
  <body>
 
    {{{body}}}
    
    <div>
      {{> successByPlatform height=400 width=600 }}
    </div>
    <div>
      {{> successByComplexity height=400 width=600 }}
    </div>
  </body>
</html>