<div>
  <h1>Bespoken NLP Benchmark</h1>
</div>
<div>
  {{> successByPlatform height=400 width=600 }}
</div>
<div>
  {{> successByComplexity height=400 width=600 }}
</div>
<div>
  {{> successByAnnotations height=400 width=600 }}
</div>
<div>
  {{> successByTopics height=400 width=600 }}
</div> 
