<html>
  <title>Bespoken NLP Benchmark</title>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99287066-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-99287066-6');
    </script>

    <!-- favicon -->
    <link rel="shortcut icon" href="/web/images/favicon.ico" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js"></script>
    <script src="/web/js/chart.js"></script>
    <script src="/web/js/content.js"></script>

    <style>
      canvas {
        padding: 0;
        margin: auto;
        display: block;
        width: 800px;
      }

      div {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      h1 a, h1 a:hover {
        color: #007bff
      }

      h2 {
        color: black;
        font-family: Roboto Condensed;
        font-variant: small-caps;
        margin: 10 0 0 0;
        text-align: left;
      }

      h2 a, h2 a:hover {
        border-width: 0;
        color: black;
        outline: none;
        text-decoration: none;
      }

      p {
        margin: 10 0 0 0
      }

      .quote {
        font-style: italic;
        padding: 5 20 5 20;
      }

      table {
        margin: auto
      }

      .text, .tooltip {
        font-family: Open Sans;
        font-size: 11pt;
      }

      .title {
        font-family: Khand;
        font-size: 16pt;
        font-weight: bold;
      }

      .tooltip ul {
        padding-left: 15;
      }

      .tooltip-inner {
        max-width: 500;
        width: 500;
      }
      

      ul {
        margin-top: 5;
      }
    </style>
    <script>
      // We set certain style programmatically because they are shared between charts generated in JS and HTML
      window.addEventListener('load', () => {
        // Automatically add href to every a anchor
        $('a[name]').each(function() {
          this.href = '#' + this.name
        })
        
      })
    </script>
  </head>
  <body>
    <div class='container-fluid' style='background-color: black;padding: 10 10 10 10;'>
      <div class='row' style=''>
        <div class='col-1'><a href='https://bespoken.io'><img src='/web/images/Logo-LlamaOnly.png' height='90%' /></a></div>
        <div class='col-11'>

          <div class='row'>
            <div class='col-10'><h1 style='color: #007bff; font-family: Khand;margin:0'><a href='/' style="text-decoration: none">Bespoken NLP Benchmark</a></h1></div> 
            <div class='col-1'></div>
          </div>
          <div class='row' >
            <div class='col-10'><h2 style='color: white;font-weight: bold;font-size: 20pt;margin:0;text-align: center'> {{page}}</h2></div> 
           <div class='col-1'></div>
          </div>
        </div>
      </div>  
    </div>

    {{{body}}}
    
  </body>
</html>