<html>
  <title>Bespoken NLP Benchmark</title>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99287066-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-99287066-6');
    </script>

    <!-- favicon -->
    <link rel="shortcut icon" href="/web/images/favicon.ico" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js"></script>
    <script src="/web/js/chart.js"></script>
    <script src="/web/js/content.js"></script>
    <script src="/web/js/chartjs-plugin-watermark.min.js"></script>

    <style>
      .boone-c-canvas {
        top: 100px !important;
      }

      .boone-field-email {
        outline-width: 0;
      }

      canvas {
        padding: 0;
        margin: auto;
        display: block;
        width: 800px;
      }

      .caption {
        color: #184160;
        font-size: 2vmin;
        font-weight: bold;
        text-align: center;
      }

      div {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        text-align: center;
      }

      .footer {
        font-size: 2vmin;
        margin-top: 15px;
      }

      .header img {
        height: 100%;
        padding-top: 20px;
      }
      
      /* Special handling to force the logo to be a certain size on Firefox */
      @supports (-moz-appearance:none) {
        .header, .header img {
          height: 80px;
        }
      }

      h1 {
        font-size: 6.0vmin;
        text-align: center;
      }

      h1 a, h1 a:hover {
        color: #f4a82d;
      }

      h2 {
        color: #184160;
        font-family: Roboto Condensed;
        font-size: 4.0vmin;
        font-weight: bold;
        margin: 10 0 0 0;
        text-align: left;
        text-transform: capitalize;
      }

      h2 a, h2 a:hover {
        border-width: 0;
        color: #184160;
        outline: none;
        text-decoration: none;
      }
      
      .ivr .row {
        margin-left: 100px;
        margin-right: 100px;
      }

      p {
        margin: 10 0 0 0
      }

      .quote {
        font-style: italic;
        padding: 5 20 5 20;
      }

      .sponsorLogoSection {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
      
      .subtitle {
        font-size: 3.0vmin;
      }
      
      table {
        margin: auto
      }

      .text, .tooltip {
        color: #184160;
        font-family: Open Sans;
        font-size: 2.5vmin;
      }

      .title {
        font-family: Khand;
        font-size: 4.0vmin;
        font-weight: bold;
      }

      .tooltip ul {
        padding-left: 15;
      }

      .tooltip-inner {
        max-width: 500;
        width: 500;
      }
      

      ul {
        margin-top: 5;
      }     

      .logo {
        padding: 5;
        max-width: 100%;
      }

      .sponsorLogo {
        padding: 10;
        max-width: 100%;
      }
       
      @media only screen and (max-width: 1080px) {
        .logo {
          padding: 10;
        }

        .sponsorLogo {
          padding: 20;
        }
      }
    </style>
    <script>
      // We set certain style programmatically because they are shared between charts generated in JS and HTML
      window.addEventListener('load', () => {
        // Automatically add href to every a anchor
        $('a[name]').each(function() {
          this.href = '#' + this.name
        })
      })

      function showInfo(key) {
        const title = Content.titleForKey(key)
        const content = Content.contentForKey(key)
        $('#modal-title').html(title)
        $('#modal-body').html(content)
        $('#infoModal').modal({})   
      }          
    </script>
  </head>
  <body style='margin-bottom: 10px'>
    <div class='container-fluid ' style='background-color: #184160;padding: 20;'>
      <div class='row header' >
        <div class='col-4' style='text-align: left;display:inline-flex;'><a href='https://bespoken.io'><img src='/web/images/Logo-WhiteText.png' class='logo' /></a></div>
        <div class='col-4'>

          <div class='row'>
            <!-- got this display and justify from here - https://stackoverflow.com/a/50598356 -  to force centering without wrapping -->
            <div class='col-4' style='padding:0;display: flex;justify-content: center;white-space: nowrap'><h1 style='font-family: Khand;margin:0;'><a href='/' style="text-decoration: none">{{title}}</a></h1></div> 
          </div>
          <div class='row' >
            <div class='col-4' style='padding:0;display: flex;justify-content: center;white-space: nowrap'><h2 style='color: #1ec9dd;font-weight: bold;margin:0;text-align: center;'> {{page}}</h2></div> 
          </div>
        </div>
        <div class='col-4  d-flex align-items-center justify-content-end' id='sponsorLogoSection' style='display:inline-flex;text-align: right;'>
          <a href='https://definedcrowd.com/' target='_blank' ><img class='sponsorLogo' src='/web/images/DefinedCrowd.svg' style='padding: 0' /></a>
        </div>
        
      </div>  
    </div>

    {{{body}}}

    <!-- footer -->
    <div class='container-fluid footer'>
      <div class='row'>
        <div class='col-12' style='font-style: italic'>Copyright © 2020 Bespoken. All Rights Reserved</div>
      </div>
    </div>
    <!-- for showing popup informational dialog on the page -->
    <div id='infoModal' class="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style='margin-top: 100px'>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style='padding-bottom: 0.5em;'>
            <h5 class="title modal-title" id="modal-title" >Modal title</h5>
          </div>
          <div id='modal-body' class="text modal-body" style='padding-top: 0.5em;text-align: left'>
            
          </div>
        </div>
      </div>
    </div>
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - https://optinmonster.com -->
    <script type="text/javascript" src="https://a.omappapi.com/app/js/api.min.js" data-account="93700" data-user="83282" async></script>
    <!-- / https://optinmonster.com -->
  </body>
</html>