<html>
  <title>Bespoken NLP Benchmark</title>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99287066-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-99287066-6');
    </script>

    <!-- favicon -->
    <link rel="shortcut icon" href="/web/images/favicon.ico" type="image/x-icon" />

    <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4/lodash.min.js"></script>
    <script src="/web/js/chart.js"></script>
    <script src="/web/js/content.js"></script>
    <script src="/web/js/chartjs-plugin-watermark.min.js"></script>

    <style>
      canvas {
        padding: 0;
        margin: auto;
        display: block;
        width: 800px;
      }

      .caption {
        color: #184160;
        font-size: 10pt;
        font-weight: bold;
        text-align: center;
      }


      div {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        text-align: center;
      }

      h1 {
        text-align: center;
      }

      h1 a, h1 a:hover {
        color: #f4a82d;
      }

      h2 {
        color: #184160;
        font-family: Roboto Condensed;
        font-variant: small-caps;
        margin: 10 0 0 0;
        text-align: left;
      }

      h2 a, h2 a:hover {
        border-width: 0;
        color: #184160;
        outline: none;
        text-decoration: none;
      }

      p {
        margin: 10 0 0 0
      }

      .quote {
        font-style: italic;
        padding: 5 20 5 20;
      }

      table {
        margin: auto
      }

      .subtitle {
        font-size: 1.25rem;
      }

      .text, .tooltip {
        color: #184160;
        font-family: Open Sans;
        font-size: 11pt;
      }

      .title {
        font-family: Khand;
        font-size: 16pt;
        font-weight: bold;
      }

      .tooltip ul {
        padding-left: 15;
      }

      .tooltip-inner {
        max-width: 500;
        width: 500;
      }
      

      ul {
        margin-top: 5;
      }

      @media (max-width: 768px) {  
        .text {font-size:24px;} /*1rem = 16px*/
      }

      /* Large devices (desktops, 992px and up) */
      @media (max-width: 992px) { 
        .caption {font-size:1.25rem;}
        h1 { font-size:3rem;}
        h2 { font-size:3rem; margin-top:20px}
        .subtitle { font-size:1.5rem;}
        .text {font-size:2rem;} /*1rem = 16px*/
      }
      
      
    </style>
    <script>
      // We set certain style programmatically because they are shared between charts generated in JS and HTML
      window.addEventListener('load', () => {
        // Automatically add href to every a anchor
        $('a[name]').each(function() {
          this.href = '#' + this.name
        })

        const urlParams = new URLSearchParams(window.location.search)
        if (urlParams.has('sponsorLogo')) {
          $('#sponsorLogoSection').append(`<img src='${urlParams.get('sponsorLogo')}' height='80' />`)
          $('#sponsorMessageSection').show()
        }    
      })

          
    </script>
  </head>
  <body style='margin-bottom: 50px'>
    <div class='container-fluid' style='background-color: #184160;padding: 20;'>
      <div class='row' style=''>
        <div class='col-3' style='text-align: left;'><a href='https://bespoken.io'><img src='/web/images/Logo-LlamaOnly.png' height='80' /></a></div>
        <div class='col-6'>

          <div class='row'>
            <!-- got this display and justify from here - https://stackoverflow.com/a/50598356 -  to force centering without wrapping -->
            <div class='col-6' style='padding:0;display: flex;justify-content: center;white-space: nowrap'><h1 style='font-family: Khand;margin:0;'><a href='/' style="text-decoration: none"><font style='color: #1ec9dd'>Bespoken</font> NLP Benchmark</a></h1></div> 
          </div>
          <div class='row' >
            <div class='col-6' style='padding:0'><h2 style='color: white;font-weight: bold;margin:0;text-align: center;'> {{page}}</h2></div> 
          </div>
        </div>
        <div class='col-3' id='sponsorLogoSection' style='text-align: right;'></div>
        
      </div>  
    </div>

    {{{body}}}
    
  </body>
</html>