<style>
  h2 {
    color: #184160
  } 

  .text {
    color: #184160;
    text-align: left;
  }
</style>
<div id='reports' class='container-fluid'  >
  <div class='row' >
    <div class='col-12 col-lg-12 subtitle' style='color: #184160;font-family: roboto condensed;font-weight: bold;margin-top: 10'>
      <i>Hey (Alexa | Google | Siri), who knows the most?</i><br>
      Measuring How Well The Major Voice Assistants Answer Complex Questions
    </div>
  </div>
  <div class='row' >
    <div class='col-12 col-lg-6'>
      <h2>What We Did</h2>
      <div class='text' style='margin-top: 10;'>
        We ran this benchmark using the following devices: Amazon Echo Show 5, Apple iPad Mini, Google Nest Home Hub.<br><br>

        We leveraged the <a href='http://qa.mpi-inf.mpg.de/comqa/' target="_blank">Dev Dataset from ComQA</a> - a set of complex questions derived from the crowd-sourced WikiAnswers website.<br><br>

        Tests were run using our <a href='https://bespoken.io/test-robot' target="_blank">Bespoken Test Robots - if you can talk to it, we can test it.</a> Read more about our test protocol <a href='/protocol'>here</a>, see the detailed results by question <a href='/details'>here</a>.
      </div>
    </div>
    <div class='col-12 col-lg-6'>
      <h2>What It Means</h2>
      <div class='text' style='margin-top: 10'>
        Our results speak for themselves - overall, we see that Google Assistant significantly outperforms Alexa and Siri, across pretty much every dimension we looked at.<br><br>

        What can we conclude? Well, obviously all these assistants have a long way to go in understanding more complex, real-life queries.<br><br>

        At the same time, we can see that significant progress has been made, and in many ways their performance is remarkable.
      </div>
    </div>
  </div>
  <div class='row' style="">
    <div class='col-12 col-lg-6' >
      <h2>Success By Platform</h2>
      <div>
        {{> successByPlatform }}
      </div>
      <div class='caption'>
        The number of questions answered correctly by each platform.
      </div>
    </div>
    <div class='col-12 col-lg-6'>
      <h2>Success By Question Complexity</h2>
      <div>
        {{> successByComplexity }}
      </div>
      <div class='caption'>
        The percentage of questions answered correctly by each platform, grouped by simple versus complex questions.<br>
        Complex questions are ones that involve comparative, compositional, or temporal reasoning.
      </div>
    </div>
  </div>
  <div class='row' style='margin-top: 20'>
    <div class='col-12 col-lg-6'>
      <h2>Success By Question Type</h2>
      <div>
        {{> successByAnnotations }}
      </div>
      <div class='caption'>
        The percentage of questions answered correctly for each type of question.<br>
        We classified questions as zero or more of the categories listed below. Click on any of the question types for more in-depth information.
      </div>
    </div>
    <div class='col-12 col-lg-6'>
      <h2>Success By Question Topics</h2>
      <div>
        {{> successByTopics }}
      </div>
      <div class='caption'>
        The percentage of questions answered correctly for each topic.<br>
        <a href='/topics'>Click here</a> for a complete breakdown across all topics.
      </div>
    </div> 
  </div>
  <div class='row' style='margin-top: 20' >
    <div class='col-12 col-lg-6 text' >
      <h2>What Is Next?</h2>
      <p>
        We plan to produce these benchmarks on a routine basis, both refreshing these results as well as doing additional studies. Here is what we currently have planned:
      </p>
      <ul>
        <li>ASR Benchmark - including Google Speech-To-Text, Twilio AutoPilot, Houndify, and others
        <li>Personal Assistant Benchmark - questions related to managing calendar appointments, email, etc.
        <li>IVR Benchmark - performance of various IVR platforms</li>
      </ul>
      <p>Have your own ideas for a benchmark? Ways that we can improve this? <a href='mailto:contact@bespoken.io'>Drop us a line.</a></p>
    </div> 
    <div class='col-12 col-lg-6 text' >
      <h2>Who Are You?</h2>
      <p>
        Thanks for asking! We are Bespoken, the world leader in automated testing, training and monitoring for voice. We work with companies like Mercedes-Benz, Roku, Spotify and others to ensure their users have delightful voice experiences.<br><br>
        Want to <a href='https://bespoken.io/customer-success/'  target='_blank'>assess the performance</a> of your own voice assistant for Alexa, Google, IVR?<br><br>
        Better yet, <a href='https://bespoken.io/blog/the-mars-agency-case-study/' target='_blank'>not just assess but improve it?</a> Contact us - <a href='mailto:contact@bespoken.io' target='_blank'>contact@bespoken.io</a>
      </p>
    </div>
  </div>
  <div id='sponsorMessageSection' class='row' style='display:none;margin-top: 20;' >
    <div class='col-3'></div>
    <div class='col-6 text' style='border: 2px solid black;font-size:2em;padding: 10;text-align:center' >
      <b>Our Sponsor</b><br>

      <p style='font-size: 0.75em'>
        Your message here!<br>
        Partner with Bespoken
      </p>
    </div>
    <div class='col-3'></div>
  </div>
</div>