<div>
   <p class='title'>Success By Question Type</p>
   <table id='annotationsTable' class='table' style='width: 100%'>
      <thead class="thead-light">
         <tr class="headerRow">
            <th align="left"></th>
            <th align="left">Amazon Alexa</th>
            <th align="left">Apple Siri</th>
            <th align="left">Google Assistant</th>
         </tr>
      </thead>
   </table>

</div>
<script>
   window.addEventListener('load', async () => {
      const response = await axios.get('/successByAnnotations')
      const rawData = response.data
      const table = $('#annotationsTable')
      // Create a list of annotations by key and name - e.g, { TELEGRAPHIC: "Telegraphic" }
      const annotations = _.mapValues(_.find(rawData), 'name')
      
      
      for (const field of Object.keys(annotations)) {
         const fieldRow = $(`<tr class="dataRow"><td style='font-style: italic'>${annotations[field]}</td>`)
         
         for (const platform of ['alexa', 'siri', 'google']) {
            const summary = rawData[platform]
            
            const value = summary[field]
            fieldRow.append(`<td>${value.successPercentage}%</td>`)
         }
         fieldRow.append('</tr>')
         table.append(fieldRow)
      }
   })
</script>
