<div>
   <p class='title'>Success By Question Type</p>
   <table id='annotationsTable' class='table' style='width: 100%'>
      <thead class="thead-light">
         <tr class="headerRow">
            <th align="left"></th>
            <th align="left">Amazon Alexa</th>
            <th align="left">Apple Siri</th>
            <th align="left">Google Assistant</th>
         </tr>
      </thead>
   </table>

</div>
<div id='infoModal' class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style='margin-top: 100px'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style='padding-bottom: 0.5em;'>
        <h5 class="title modal-title" id="modal-title" >Modal title</h5>
      </div>
      <div id='modal-body' class="text modal-body" style='padding-top: 0.5em;text-align: left'>
        
      </div>
    </div>
  </div>
</div>
<script>
   window.addEventListener('load', async () => {
      const response = await axios.get('/successByAnnotations')
      const rawData = response.data
      const table = $('#annotationsTable')
      // Create a list of annotations by key and name - e.g, { TELEGRAPHIC: "Telegraphic" }
      const annotations = _.mapValues(_.find(rawData), 'name')
      
      
      for (const field of Object.keys(annotations)) {
         const fieldRow = $(`<tr class="dataRow">
            <td style='font-style: italic' data-toggle='tooltip'>
               <a href='' class='annotationLabel'>${annotations[field]}</a>
            </td>`)
         
         for (const platform of ['alexa', 'siri', 'google']) {
            const summary = rawData[platform]
            if (summary) {
               const value = summary[field]
               fieldRow.append(`<td>${value.successPercentage}%</td>`)
            }
         }
         fieldRow.append('</tr>')
         table.append(fieldRow)
      }

      // Add a tooltip to the annotation label
      $('.annotationLabel').click(function() {
         if (Content[this.innerText]) {
            $('#modal-title').html(this.innerText)
            $('#modal-body').html(Content[this.innerText])
            $('#infoModal').modal({})
         }
         return false
      })
   })
</script>
