<script>
    $(document).ready(() => {
        $('#submit-form').on('click', async () => {
            $('.message').hide()
            const firstName = validate('first-name', 'First Name')
            const lastName = validate('last-name', 'Last Name')
            const company = validate('company-name', 'Company')
            const email = validate('email', 'Email')
            
            if (firstName && lastName && company && email) {
                try {
                    const response = await axios.post('https://utils-api-dev.bespoken.io/utils-server/generateBespokenLead', {
                        firstNameCTA: firstName,
                        lastNameCTA: lastName,
                        emailNameCTA: email,
                        companyCTA: company,
                        messageCTA: 'Please setup a meeting with me, Kirk and Pier!',
                        page: 'Benchmark',
                        providers: 'salesforce'
                    })
                    console.info('posted data: ' + JSON.stringify(response.data, null, 2))
                } catch (e) {
                    if (e.response?.data?.includes('duplicate')) {
                        console.warn('Duplicated record - ignoring')
                    } else {
                        $('.error').text('Submission failed! Please try again later, or just email us directly at <a href="mailto:contact@bespoken.io">contact@bespoken.io</a>')
                        $('.error').show()
                        console.error(e.toString())
                        return
                    }
                    
                }
                $('.success').text('Your information has been submitted - we will be in touch shortly!')
                $('.success').show()
            }
            console.info('printing stuff.')
        })

        
        
    })

    function validate(field, display) {
        const value = $(`input[name="${field}"]`).val()
        if (value.trim() === '') {
            $('.error').text(`${display} must be entered`)
            $('.error').show()
            return undefined
        }
        return value.trim()
    }
</script>
<style>
  h2 {
    color: #184160
  } 

  .text {
    color: #184160;
    text-align: left;
  }
</style>
<div id='reports' class='container-fluid llm'  style="max-width: 1300px" >
  <div class='row' style="margin-top: 0px" >
    <div class='col-12 subtitle' style='color: #184160;font-family: Poppins;margin-top: 10'>
      <span style='color: rgb(75, 213, 159);font-size: 24pt; font-weight: 600'>Hey ChatGPT, are you the smartest?<br></span>
      <span style='font-size: 18pt;font-weight: bold;line-height: 125%'>ChatGPT Outperforms Alexa And Google Assistant Generally,
      <br>Far Outperforms On The "Humility Index"</span>
    </div>
  </div>
   <div class='row' style="margin-top: 10">
    <div class='col-12'>
      <div class='text' style='margin-top: 10;'>
        We ran this benchmark using the following services: Amazon Alexa, OpenAI ChatGPT, and Google Assistant. We leveraged the <a href='http://qa.mpi-inf.mpg.de/comqa/' target="_blank">ComQA dataset</a> - a set of complex questions derived from the crowd-sourced WikiAnswers website.<br><br>

        Highlights of our findings:
        <ul style="line-height: 175%">
            <li>ChatGPT outperformed outperformed Google and Alexa on answering general knowledge question. </li>
            <li>ChatGPT did far, far better at declining to answer when there is no answer (i.e., nonsensical and/or trick questions)</li>
            <li>We plan to expand these benchmarks for other platforms - email us (<a href='mailto:contact@bespoken.io'>contact@bespoken.io</a>) to include yours, or for testing on your own in-house bot/LLM</li>
        </ul>
        <br>
        Read on below for the details!
      </div>
    </div>
  </div>
  <div class='row' style="margin-top: 0px;">
    <div class='col-12' >
        <div class="report">
            <h2>Success By Platform</h2>
                <div>
                    {{> llm/successByPlatform }}
                </div>
                <div class='caption'>
                    The number of questions answered correctly by each platform.
                </div>
        </div>
      
    </div>
    <div class='col-12'>
      <div class='text' style='margin-top: 10'>
        We ran this test initially in 2020 with Alexa, Google and Siri. <a href='/nlp'>Click here to view those results</a>.<br><br>
        
        This time around, all the AIs performed even better, especially considering the complexity of the benchmark. These are difficult questions that are meant to challenge the limits of the assistants, so their success rate is remarkable.<br><br>

        And of course, ChatGPT, which has made huge splash with the public, also had a big impact in these results. It outperformed both Google and Alexa in terms of overall knowledge.
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
      <div class="report">
        <h2>Success By Question Type</h2>
        <div>
            {{> llm/successByAnnotations }}
        </div>
        <div class='caption'>
            The percentage of questions answered correctly for each type of question. Click on any of the question types for more in-depth information.
        </div>
        
      </div>
      <div class="text" style="margin-top: 10">
        Perhaps most significantly, ChatGPT performed radically better at the "No Answer" questions - that is: when the questions were not answerable, it correctly declined to answer.<br><br>
        
        An example of such a question is "What day did the first man land on Mars?" - these are essentially "trick questions", ones that anecdotally have been shown to cause problems for these assistants.

      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-12'>
        <div class="report">
            <h2>Success By Question Complexity</h2>
            <div>
                {{> llm/successByComplexity }}
            </div>
            <div class="caption" >
                The percentage of simple versus complex questions answered correctly by each platform.<br>
                Complex questions involve <a href='javascript:showInfo("comparison")' >comparisons</a>, <a href='javascript:showInfo("compositional")' >composition</a>, and/or <a href='javascript:showInfo("temporal")' >temporal reasoning</a>.<br>
            </div>
        </div>
      
    </div>
  </div>
  
  <div class='row'>
    <div class='col-12'>
        <div class="report">
            <h2>Success By Question Topics</h2>
            <div>
                {{> llm/successByTopics }}
            </div>
            <div class='caption'>
                The percentage of questions answered correctly for each topic.<br>
            </div>       
        </div>
     
    </div> 
  </div>
  <div class='row' style='margin-top: 20' >
    <div class='col-12 text' >
      <h2>How Can This Help Me?</h2>
      <p>
        We know that many of our customers are out there right now formulating their strategies for Large Language Models and figuring out how they can best take advantage of this promising new technoloy.
      </p>
      <p>
        At Bespoken, we have believed since our inception that testing is critical to working with AI.<br><br>
        And large-language models have only made this more true - as they make development easier, they push more of the burden to QA:
      </p>
      <div>
        <img src="/web/images/LLM-Workflow-V2.png" style="width: 100%"/>
      </div>
      <div class="caption">The LLM Feedback Loop</div>
      <div class="text mt-2">
        Bespoken tests models from LLM providers and vendors for accuracy, functionality, and monitors them continuously for safety. This virtuous, constant cycle is essential for AI.
        <uL>
            <li>This process started during initial development of the model - we help to ensure it is performing properly with the vendor</li>
            <li>During user acceptance testing, separate datasets are again used to asses the model's performance</li>
            <li>Once live, our monitoring tools keep an eye on it on an ongoing basis to ensure it continues to work optimally</li>
        </uL>
      </div>
    </div>
  </div>
  
  <div class='row' >
    <div class='col-12 text' >
      <h2>Who Are You?</h2>
      <p style="margin-bottom: 0px">
        Thanks for asking! We are Bespoken, the world leader in automated testing, training and monitoring for conversational AI. We work with companies like Disney, BNP Paribas, Ford Automotive and others to ensure their users have delightful voice experiences.<br><br>
        Want to <a href='https://bespoken.io/customer-success/'  target='_blank'>assess the performance</a> of your own bot for IVR, chat or virtual agent? Ensure that it is operating safely? Just fill out the fields below. We will get in touch shortly:
      </p>
     </div>
  </div>
  <div class="row signup" style="width: inherited; margin-top: 0px;padding: 10px">
    <div class="col-12" style="margin-top: 0px;">
        <div class="report" style="display: grid;grid-template-columns: repeat(12, auto);padding: 10 5 10 5;align-items: center">
            <div class="label" style="grid-column: span 12; margin-top: 0;font-weight: 600;text-align: center">
                <span style="font-size: 20pt">Learn More - talk to the experts at Bespoken<br></span>
                See how Accuracy Testing can make your LLM safer and smarter
            </div> 
            
            <div class="message success"  style="grid-column: span 12;display:none;color: rgb(12, 12, 109);font-weight: bold;" >
                
            </div>
            <div class="message error"  style="grid-column: span 12;display:none;color: red;font-weight: bold;" >
                
            </div>
            <div class="label" style="margin-top: 5px">
                First Name
            </div> 
            <div class="field">
                <input type="text" name="first-name" placeholder="Jane"/>
            </div> 
            <div class="label">
                Last Name
            </div> 
            <div class="field">
                <input type="text" name="last-name" placeholder="Doe"/>
            </div> 
            <div class="label">
                Company
            </div> 
            <div class="field">
                <input type="text" name="company-name" placeholder="Acme Enterprises"/>
            </div> 
            <div class="label">
                Email
            </div> 
            <div class="field">
                <input type="text" name="email" placeholder="jane@acme.com"/>
            </div> 
            <div class="" style="grid-column: span 12; justify-content: center;margin-top: 20px">
                <button id='submit-form' style="width: 20vw;border-radius: 8px;background-color:#ffab41;border-color:transparent;color: white">Submit</button>
            </div> 
            
        </div>
    </div>
  
</div>